{% extends 'base.html.twig' %} 
{% block title %} {{title}} {% endblock %} 
{% block body %}Bienvenue dans le site de stream!
    <div class="content">
        Voici une petite accueil
    </div>
{% endblock %}