{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
       <div class="col-xs-12">
           <div class="form-group">
            <form action="{{ path('login')}}" method="post">
                <label for="email">Email: </label>
                <input type="text" name="_username" required placeholder="example@mail.com">

                <label for="pwd">Mot de passe:</label>
               <input type="password" name="_password">
               
               <button type="submit" class="btn btn-success">Connexion</button>
               <a class="btn btn-primary" href="{{path('inscription')}}">Inscription</a>
           </form>
           </div>
        </div>
    </div>
{% endblock %}